body {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
background-color: #1F2937;
color: #F9FAF8;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

header .header {
  color: #E5E7EB;
  margin-left: auto;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
}

header .header {
  margin-left: auto;
}

header .logo {
  width: 50px;
}

/* Deuxieme header */

.secondary-header {
  background-color: #E5E7EB;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #1F2937;
  padding-left: 20px;
}

.dropdown-menu {
  display: none;
  padding: 0px;
  text-align: center;
}

.dropdown-menu a {
  display: inline-block;
  padding: 8px 20px;
  color: #1F2937;
  text-decoration: none;
  font-size: 18px;
}

.dropdown-menu a:hover {
  background-color: #E5E7EB;
  border-radius: 4px;
}

/* footer */

footer {
  background-color:#1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  font-size: 1.4rem;
}



footer a {
  color: #E5E7EB;
}