body {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
background-color: #1F2937;
color: #F9FAF8;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

header .header {
  color: #E5E7EB;
  margin-left: auto;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
}

header .header {
  margin-left: auto;
}

header .logo {
  width: 50px;
}

header .user-icon img {
  width: 50px;
}

/* Menu burger */
.horizontal-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc; 
  padding: 10px 20px;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #1F2937;
}

.menu-text {
  display: none; 
  font-size: 16px;
  color: #1F2937;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  padding: 5px 10px;
  border: 1px solid #9CA3AF;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#menuText a {
  padding: 8px 20px;
  color: #1F2937;
  text-decoration: none;
  font-size: 18px;
  
}

#menuText a:hover {
  background-color: rgba(128, 128, 128, 0.397);
  border-radius: 10px;
}

/* footer */

footer {
  background-color:#1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 5px;
  margin-top: auto;
  font-size: 1rem;
}



footer a {
  color: #E5E7EB;
}